{% extends "core/base.html" %}
{% block title %}Alert The Press{% endblock %}
{% block content %}
    <h2>Alert The Press</h2>
    <form method="post" action="{% url core.views.alert_the_press %}">
    <ul id="contact">
        {{form.as_ul}}
        <li><input type="submit" value="Send" /></li>
        {% csrf_token %}
    </ul>
    </form>
    
    <h3>Facebook</h3>
	<div id="fb-root"></div>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
      window.fbAsyncInit = function() {
	  // initialize the library with the API key
      FB.init({ 
		apiId: {{FB_API_KEY}},
		status: true,
		cookie: true,
		oauth: true,
	  });
	  };
	  
      $('#login').on('click', function() {
		 FB.login(function(response) {
		   if (response.authResponse) {
			 console.log('Welcome!  Fetching your information.... ');
			 FB.api('/me', function(response) {
			   console.log('Good to see you, ' + response.name + '.');
			 });
		   } else {
			 console.log('User cancelled login or did not fully authorize.');
		   }
		});
      });

      $('#logout').on('click', function() {
        FB.logout();
      });

	  $("#postfb").on('click', function(){
	  // if we have a session, query for the user's profile picture and name
			FB.api('/me/feed', 'post', { message: $("#id_message").value()}, function(response) {
				if(!response || response.error) {
					alert('Error occured');
				}
				else {
					alert('Post ID: ' + response.id);
				}
			});
		});
    </script>
    <button id="login">Login</button>
    <button id="logout">Logout</button>
    <button id="postfb">Post</button>
{% endblock %}