{% extends "core/base.html" %}
{% load humanize %}
{% block title %}{{entry.title}} - Max Burstein's Blog{% endblock %}
{% block content %}
    <h2>{{entry.title}} <span class="post"> (Posted on {{entry.date|date:"F j\<\s\u\p\>S\<\/\s\u\p\>\, Y"|safe}})</span></h2>
    {{entry.content|safe}}
    <p><strong><em>Tags:</em></strong> {% for tag in entry.tags.all %}<a href="{% url 'core:blog' %}?tag={{tag}}">{{tag}}</a>{% if not forloop.last %},  {% endif %}{% endfor %}</p>
	<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style ">
		<a class="addthis_button_preferred_1"></a>
		<a class="addthis_button_preferred_2"></a>
		<a class="addthis_button_preferred_3"></a>
		<a class="addthis_button_preferred_4"></a>
		<a class="addthis_button_compact"></a>
		<a class="addthis_counter addthis_bubble_style"></a>
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f6e35d33df7f53a"></script>
	<!-- AddThis Button END -->
{% endblock %}