{% extends "core/base.html" %}
{% load humanize %}
{% block title %}{{entry.title}} - Max Burstein's Blog{% endblock %}
{% block js %}
	{% if html_captcha %}
	<script type="text/javascript">
		var RecaptchaOptions = {
			theme : 'white'
		};
	</script>
	{% endif %}
{% endblock %}
{% block content %}
    <h2>{{entry.title}} <span class="post"> (Posted on {{entry.date|date:"F j\<\s\u\p\>S\<\/\s\u\p\>\, Y"|safe}})</span></h2>
    {{entry.content|safe}}
    <p><strong><em>Tags:</em></strong> {% for tag in entry.tags.all %}<a href="{% url 'core.views.blog' %}?tag={{tag}}">{{tag}}</a>{% if not forloop.last %},  {% endif %}{% endfor %}</p>
	<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style ">
		<a class="addthis_button_preferred_1"></a>
		<a class="addthis_button_preferred_2"></a>
		<a class="addthis_button_preferred_3"></a>
		<a class="addthis_button_preferred_4"></a>
		<a class="addthis_button_compact"></a>
		<a class="addthis_counter addthis_bubble_style"></a>
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f6e35d33df7f53a"></script>
	<!-- AddThis Button END -->
    <h3 id="comments">Comments:</h3>
	<form id="postcomment" method="post" action="{% url 'core.views.entry' slug %}">
		<ul>
		    {% if not request.user.is_authenticated %}
				<li><label for="id_name">{{form.name.label}}:</label> {{form.name}} <span class="about">(optional)</span></li>
				<li><label for="id_website">{{form.website.label}}:</label> {{form.website}} <span class="about">(optional)</span></li>
			{% endif %}
		    <li>{{form.content}}</li>
			<li><small><em><a href="http://daringfireball.net/projects/markdown/syntax">(Supports Markdown Syntax)</a></em></small></li>
		    {% if html_captcha %}<li>{{html_captcha|safe}}</li>{% endif %}
		    <li><input type="submit" value="Submit Comment" /></li>
		    <li>{{form.ancestor}}</li>
		</ul>
		{% csrf_token %}
	</form>
	<ul id="commenters">
		{% for comment in comment_tree %}
			{% if comment.user %}
				<li id="{{comment.id}}" class="comment" style="margin-left:{{comment.depth|add:comment.depth}}em;"><p class="poster"><span class="user">{% if comment.user.get_full_name %}{{comment.user.get_full_name}}{% else %}{{comment.user.username}}{% endif %}</span> - {{comment.date|naturaltime}}</p><p>{{comment.content|safe}}</p><p><a href="" class="reply">reply</a></p></li>
			{% elif comment.name %}
				<li id="{{comment.id}}" class="comment" style="margin-left:{{comment.depth|add:comment.depth}}em;"><p class="poster">{% if comment.website %}<a href="{{comment.website}}">{{comment.name}}</a>{% else %}{{comment.name}}{% endif %} - {{comment.date|naturaltime}}</p><p>{{comment.content|safe}}</p><p><a href="" class="reply">reply</a></p></li>
			{% elif comment.deleted %}
				<li id="{{comment.id}}" class="comment" style="margin-left:{{comment.depth|add:comment.depth}}em;">[Deleted] - {{comment.date|naturaltime}}<p>This comment was removed</p></li>
			{% else %}
				<li id="{{comment.id}}" class="comment" style="margin-left:{{comment.depth|add:comment.depth}}em;"><p class="poster">Anonymous - {{comment.date|naturaltime}}</p><p>{{comment.content|safe}}</p><p><a href="" class="reply">reply</a></p></li>
			{% endif %}
		{% empty %}
			<li>There are currently no comments. You can be first!</li>
		{% endfor %}
	</ul>
{% endblock %}