/* CSS Document */

html, body {
	height: 100%;
}

body {
	margin:0px;
	padding:0px;
	font-size: 16px;
	font-family: Tahoma, "DejaVu Serif", serif;
}

a {
	font-weight: bold;
	color: #ff982c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	height: auto !important;
	margin: 0 auto -33px;
	min-height: 100%;
}

/*
~~~~~~~~HEADER~~~~~~~~~
*/

#header {
	height: 46px;
	background: url(../images/spacer.png) repeat-x;
	min-width: 750px;
	padding: 0 10px;
	position: relative;
}

#headwrap {
	width: 71%;
	margin: 0 auto;
}

h1 {
	width: 144px;
	height: 14px;
	background: url(../images/logo.png) no-repeat center;
	margin-top: 0px;
	display: inline-block;
	padding-top: 14px;
	position:absolute;
}

h1 a {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	width: 144px;
	height: 14px;
	margin-top: -6px;
}

#nav {
	float: right;
	margin-top: 4px;
}

	#nav li {
		list-style-type: none;
		display: inline;
		text-transform: uppercase;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 14px;
		padding-left: 8px;
		padding-right: 2px;
		background: url(../images/nav-spacer.gif) no-repeat left;
	}
	
		#nav li a {
			color: #BDBDBD;
			text-decoration:none;
		}
		
			#nav li a:hover {
				color: #31c4f4;
				text-decoration: underline;	
			}
	
		#nav li.nfirst {
			background: none;
		}
		
/*
~~~~~~~~CONTENT~~~~~~~~~
*/

#content {
	margin: 0 auto;
	padding: 20px 10px 0 10px;
	width: 1000px;
}

#messages {
	padding-left: 0px;
}

	#messages li {
		font-style: italic;
		list-style-type: none;
		font-weight: bold;
		text-align: center;
	}

h2 {
	color: #31c4f4;
	font-size: 30px;
	font-family: Tahoma, Geneva, sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
}

	h2 a {
		color: #31C4F4;
	}

#right h2 {
	font-size: 14px;
	text-align: center;	
	border-bottom: 1px dashed #5B5B5B;
	padding-bottom: 8px;
	width: 170px;
	margin: 30px auto 0px;
}

.post {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #3b3b3b;
	white-space: nowrap;
	font-weight: bold;
}

.readmore {
	text-align: right;
}

#blog {
	padding-left: 0px;
	margin-top: 0px;
}

	#blog > li {
		list-style-type: none;
		border-bottom: dashed 1px #5B5B5B;
		margin-bottom: 20px;
	}
	
#left {
	width: 730px;
	float: left;
	padding-right: 40px;
	border-right: dashed 1px #5B5B5B;
	margin-bottom: 30px;
	min-height: 550px;
}

	#left img {
		max-width: 730px;
	}

#right {
	width: 190px;
	min-height: 500px;
	float: left;
	margin-left: 30px;
}

.about {
	font-style: italic;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
}

.newer {
	float: right;	
}

.blognav {
	color: #0E0E0E;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	font-style: italic;
	text-decoration: underline;	
}

	.blognav:hover {
		color: #ff982c;	
	}

#search {
	margin-bottom: 20px;
	text-align: center;
}


/* http://www.bloggermint.com/2011/06/css3-search-box-inspired-by-apple-com/ */
#query {
    background: url(../images/search-dark.png) no-repeat 10px 6px #FFFFFF;
    border: 1px solid #0E0E0E;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #6B7076;
    width: 60px;
    padding: 6px 15px 6px 28px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#query:focus {
	width: 150px;
	outline: none;
}

textarea {
	padding: 5px;
}

#contact {
	padding-left: 0px;
}

#contact li {
	list-style-type:  none;
	padding-bottom: 16px;
}

/*
~~~~~~~~ENTRY~~~~~~~~~
*/

table {
	border-collapse: collapse;
}

th, td {
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid #0E0E0E;
}

table tr:first-child th {
	border-bottom: 2px solid #0E0E0E;
}

tr:hover td {
	background: #EEE;
}

/*
~~~~~~~~FOOTER~~~~~~~~~
*/

#footer {
	clear: both;
	height: 28px;
	background: #0E0E0E;
	min-width: 100%;
	text-align: center;
	color: #BDBDBD;
	padding-top: 5px;
}

#footer a {
	color: #31c4f4;
	font-weight: normal;
}

#footer p {
	margin-top: 2px;
	margin-bottom: 0px;	
}